body{
   background-color: rgb(110, 175, 241);
}
header{
background-color: rgb(69, 64, 99);
}
h1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;

}
ol{
    font-weight: bold;
    font-size: large;
}